body{
    text-align: center;
}

.city{
    display: inline-block;
    width: 300px;
    border: 2px solid;
    border-radius: 10px;
    border-color:#1735a5;
    margin: 30px 10px;
    cursor: pointer;
}

h2{
    color: #1735a5;
}

h4{
    margin: 20px;    
}

span{
    font-size: 25px;
    display: block;
    margin: 11px;
    font-weight: bold;
}

.score {
    width: 100px;
    height: 50px;
    margin: 0 auto;
    border: 2px solid;
    border-radius: 10px;
    border-color: #1735a5;
}